
body{
    height: 1000px;
    font-size: 10px;
}
.topdiv{
    background-color: rgb(139, 0, 139);
    color: white;
    font-size: 13px;
    
}
.navba{
    background-color: white;
  
}
.nav-link{
    color: black;
    
}

h2{
    color: blueviolet;

}
span{
color: rgb(198, 82, 224);
}
.part1{
    color: rgb(152, 54, 243);
    position: relative;
   top: 20px;
}
.fontclass{
    font-size: 15px;
    line-height: 28px;
}

.buttn{
    position: relative;
    top: 50px;
    padding: 15px;
    font-weight: 600;
    right: 20%;
    border-radius: 50px; 
    border: 2px solid #5e068a;    
    background-color: purple;
    color: white;
}
.buttn:hover{
    position: relative;
    top: 50px;
    font-weight: 600;
    right: 20%;
    border-radius: 50px;
    border: 2px solid #5e068a;    
    background-color:rgb(230, 221, 230);
    color: rgb(171, 12, 185);
   
}
img{
   margin-left: 70px;
}
 .part2{
     position:relative ;
color: rgb(165, 143, 165);

 }
 .part3{
     position: relative;
      right: 60px;
    
 
 }
 .sec1{
     position: relative;
     top:60px;

 }

.buttn2{
    position: relative;
    top: 50px;
    right: 80%;
    font-weight: 500;
    padding: 15px;
    border-radius: 50px; 
    border: 1px solid #5e068a;    
    background-color: rgb(253, 239, 253);
    color: rgb(199, 41, 199);
}
.buttn2:hover{
    position: relative;
    top: 50px;
    right:80%;
    font-weight: 500;
    padding: 15px;
    border-radius: 50px;
    border: 1px solid #5e068a;    
    background-color:rgb(199, 41, 199);
    color: rgb(251, 238, 252);