form{
    margin-left: 750px;
  width: 250px;
  top: 40px;;
border-radius: 20px;
text-align: center;
background-color: linen;
}
button{
    position: relative;
    text-align: center;
  
}
h1{
font-size:  50px; ;
color: royalblue;
position: relative;
top: 124px;
left: 150px;


}
h2{
font-size: 30px;
position: relative;
top: 100px;
left: 150px;
}
body{
    background-color:rgb(131, 143, 184);
}
form{
    position: relative;
}